/*  Estilos globais para centralizar todo o conteudo */
body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdf9c4;
  font-family: Helvetica;
  text-align: center;
}

/* Estilos para cada quadrado */
.square {
  width: 100px;
  height: 100px;
  background-color: #a5e1e9;
  border: 1px solid #5d5b5b;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

/* Estilos para o vencedor */
.winner {
  background-color: #ffcc0085;
}

/* Estilos para o status do jogo */
.status {
  margin: 20px 0 ;
  text-align: center;
  font-size: 24px;
  color: #333;
}

/* Estilos para botão de reiniciar */
.reset-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para o botãon de reinicar no hover */
.reset-button:hover {
  background-color: #0056b3;
}


/* Estilo tela inicial nomes */

/* .nomes{
  padding-bottom: 30px;
} */

